html, body {
    background-color: black;
    color: whitesmoke;
}

header.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: whitesmoke;
    text-align: left;
    height: 100px;
}

header.contact h1 {
    
}

header.contact p,
header.contact a 
{
    display: block;;
    text-align: right;
    height: 3px;
}

br.first-br {
    display: none;
}

.cristian-portrait {
    width: 350px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

section.intro {
    display: block;
    height: auto;
    width: auto;
    text-align: justify;
}

section.professional {
    display: block;
}

section.academics {
    display: block;
}

section.projects {
    display: block;
}

section.personal {
    display: block;
}

section.personal h2 {
  text-align: left;
}

section.interests {
    display: block;
}

.picture {
    max-width: 100%;
    width: 38%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
}

#Professional h1 {
    text-align: center;
}

.pennlogo {
    width: 10%;
}

.contact {
    text-align: center;
}

.experience {
    display: block;
}

.activities {
    display: flex;
}

#soccerTeam {
    text-align: left;
}

.barcelona {
    width: 10%;
}

.penn {
    width: 5%;
}

.kipp {
    width: 100px;
    height: 100px;
}

.deloitte {
    width: 30%;
}

.robin-hood {
    width: 30%;
}

#logos {
    text-align: justified;
}

@media (max-width: 780px) {

	header.contact h1 {
		font-size: 22px;
		width: 230px;
	}
	
    .cristian-portrait {
        width: 300px;
        height: auto;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {

    header.contact {
        display: inline-block;
    }
    
    section.contact-info {
        display: none;
    }

    /* header.contact p,
    header.contact a {
        text-align: left;
    } */

    br.first-br {
        display: block;
    }

    .cristian-portrait {
        width: 200px;
        height: auto;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
}
