html, body {
    background-color: black;
    color: whitesmoke;
}

header.contact {
    color: whitesmoke;
    text-align: center;
    height: 100px;
}

header.contact h1 {
    
}

section.contact {
    text-align: center;
}

@media (max-width: 780px) {

}

@media (max-width: 500px) {

}
